body {
   background-color:#f7f4c0
   
}
  #action-button{
            width:60px;
            display:block;
            margin-left:70px;   
           
        }
        #actions {
            border:1px solid black;
            width :200px;
            text-align:center;  
            margin-bottom:15px;
            border-radius:15px;
            position:relative;
            margin-left:1150px;
        }
        fieldset {
            width:600px;
            height:150px;
            
        }
        #loginDiv {
            position:relative;
        }
         input {
            margin-left:10px;
        }
        #registerDiv {
            position:absolute;
            top:20px;
            left: 300px;
        }
        #navigation {
            border:1px solid black;
            padding-top:15px;
              border-radius:15px;
              margin-left:400px;
              width:500px;
              height:35px;
              background-color:#f7b984;

        }
            #navigation > div {
                
                text-align:center;
            }
  #navigation > div > a{
                text-decoration:none;
                color:black;
                border:1px solid black;
                background-color: #ffe6ab;
                margin:10px;
                padding:10px;
                margin-left:0px;
                margin-right:2px;
            }
        body {
            position:relative;
        }
        #main-content {
            position:absolute;
            left:480px;
        }
        .partsInMorgue {
            border:1px solid black;
            list-style-type:none;
            width:200px;
        }
        a{
            cursor:pointer;
        }
#image {
    border:1px solid black;
    width:170px;
    height:130px;
    background-image:url("/cssImags/avtomontior.jpg");
    position:absolute;
    left:-180px;
    top:30px;
}
li {
    list-style-type:none;
}
#locationRight {
    background-image:url("/cssImags/rightlocation.png");
     width:170px;
     height:300px;
     position:absolute;
     left:300px;
     top:40px;
}
#locationLeft {
    background-image:url("/cssImags/leftlocation.png");
     width:170px;
     height:300px;
     position:absolute;
     top:40px;
     right:250px;
}
.spanA {
    /*font-size:20px;*/
    font:bold 20px verdana;
    
    font-family: 'Revalia', cursive,Verdana;
}
.liA {
    margin:10px;
}

#OldCars{
    width:400px;
    position:absolute;
    right:700px;
    top:0;
}
#oldImg {
     background-image:url("/cssImags/brokenCar.jpg");
     width:250px;
     height:200px;
     border:1px solid black;

}
#Repair{
    width:400px;
    position:absolute;
    right:400px;
    top:350px;
    
}

#newImg {
    background-image:url("/cssImags/lambo.jpg");
    width:250px;
    height:180px;
}

#Just{
    position:absolute;
    top:170px;  
    left:50px;
}
#newImg2 {
     background-image:url("/cssImags/sportcar.jpg");
      width:285px;
      height:170px;  
}
#JL {
    font-size:50px;
    font-family: 'Faster One', cursive;
    padding-left:80px;
}