<fieldset>
    <legend>Login or register</legend>
    <div id="loginDiv">
        
    <div><label>Username <input data-bind="value: username"/></label></div>
    <div><label>Password<input data-bind="value: password" type="password"/></label></div>
    <button data-bind="click: login">Login</button> <br /></div>
    <div id="registerDiv">
    <div><label>Username <input data-bind="value: username"/></label></div>
     <div><label>Displayname <input data-bind="value: displayName"/></label></div>
     <div><label>Password<input data-bind="value: password" type="password"/></label></div>
    <button data-bind="click: register">Register</button>
    </div>
</fieldset>

<div id="OldCars">
    <h2>If you have problem with your car</h2>
    <div id="oldImg"></div>
</div>

<div id="Repair">
    <div id="newImg"></div>  
    <h2>Maybe it's time for some repairs</h2>
   
</div>
<div id="Just">
    <h1 id="JL"> Just Login</h1>
     <div id="newImg2"></div>
    
</div>
