body {
    background-color: #a9a9a9;
}

header {
    text-align: center;
    color: #ecf4d2;
}

header li {
    list-style: none;
}

header a {
    color: #ecf4d2;
    text-decoration: none;
    font-weight: bold;
}

.current {
    background-color: #d3d4d7;
}

section header {
    text-align: left;
}

p a {
    color: black;
    text-decoration: none;
}

article footer {
    text-align: left;
}

footer {
    text-align: center;
}
