/* 
    Document   : favoriteSitesBarStyles
    Created on : 2013-6-13, 12:19:52
    Author     : N.Naidenov
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

